@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.maincontainer{
    width: 1440px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.headerslide{
    width: 100%;
    display: flex;
    height: 54%;
}
.headerslide_picture{
    background-image: url("images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    height: auto;
}
.navbar{
    position: relative;
    top: 60px;
    left: 55px;
}
.hamburger{
    display: none;
}
.navbar_buttons{
    font-size: 15px;
    margin: 10px;
    padding-bottom: 5px;
}
.navbar_buttons:hover{
    border-bottom: white 3px solid;
}
.navbar_buttons_room{
    font-size: 25px;
    margin-right: 30px;    
}
.container{
    margin-left: 80px;
    margin-right: 80px;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.headerslide_right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container>p{
    font-size: small;
    margin-top: 20px;
    color: hsl(0, 0%, 63%);
}
.shopnow{
    margin-top: 35px;
    color: black;
}
.shopnow:hover{
    color: hsl(0, 0%, 63%);
}
.buttons{
    display: flex;
}
.arrow{
    height: 80px;
    width: 80px;  
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.arrow>span{
    transform: scale(0.5, 1);
    font-size: 40px;
}
.righttitle{
    margin-top: 90px;
}
.arrow:hover{
    background-color: hsl(0, 0%, 63%);
    cursor: pointer;
}
.secondrow{
    display: flex;
    width: 100%;
    height: 280px;
}
.secondrow_left{
    background-image: url("images/image-about-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 28%;
}
.secondrow_middle{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 80px;
}
.secondrow_middle>h6{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
}
.secondrow_middle>p{
    color: hsl(0, 0%, 63%);
    font-size: 12px;
}
.secondrow_right{
    background-image: url("images/image-about-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
}
@media screen and (max-width: 768px){
    body{
        height: 100%;
    }
    .maincontainer{
        height: 100%;
        width: 100%;
    }
    .navbar_buttons{
        display: none;
    }
    .navbar_buttons_room{
        position: absolute;
        left: 45%;
        font-size: 25px;
        top: -8px;
    }
    .headerslide{
        flex-direction: column;
        height: 800px;
    }
    .headerslide_right{
        height: 300px;
        width: 100%;
    }
    .headerslide_picture{
        width: 100%;
        background-size: 100%;
        height: 73%;
    }
    .navbar{
        top: 40px;
        left: 5px;
    }
    .hamburger{
        font-size: 20px;
        display: inline;
        margin-left: 30px;
    }
    .secondrow{
        flex-direction: column;
    }
    .righttitle{
        margin-top: 00px;
    }
    .container{
        margin: 40px;
    }
    .righttitle{
        font-size: 26px;
    }
    .buttons{
        position: absolute;
        top: 428px;
        right: 0px;
    }
    .arrow{
        margin-left: -3px;
        height: 60px;
        width: 60px;
    }
    .arrow>span{
        transform: scale(0.5, 1);
        font-size: 25px;
    }
    .secondrow{
        flex-direction: column;
        height: auto;
    }
    .secondrow_left, .secondrow_right, .secondrow_middle{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width: 375px){
    .maincontainer{
        height: 100%;
        width: 100%;
    }
    .navbar_buttons{
        display: none;
    }
    .navbar_buttons_room{
        position: absolute;
        left: 36%;
        font-size: 25px;
        top: -8px;
    }
    .headerslide{
        flex-direction: column;
        height: 800px;
    }
    .headerslide_right{
        height: 400px;
        width: 100%;
    }
    .headerslide_picture{
        width: 100%;
        height: 60%;
    }
    .navbar{
        top: 40px;
        left: 5px;
    }
    .hamburger{
        font-size: 20px;
        display: inline;
        margin-left: 30px;
    }
    .secondrow{
        flex-direction: column;
    }
    .righttitle{
        margin-top: 00px;
    }
    .container{
        margin: 40px;
        height: 900px;
    }
    .righttitle{
        font-size: 26px;
    }
    .buttons{
        position: absolute;
        top: 340px;
        right: 0px;
    }
    .arrow{
        margin-left: -3px;
        height: 60px;
        width: 60px;
    }
    .arrow>span{
        transform: scale(0.5, 1);
        font-size: 25px;
    }
    .secondrow{
        flex-direction: column;
        height: auto;
    }
    .secondrow_left, .secondrow_right, .secondrow_middle{
        width: 100%;
        height: 300px;
    }
}